body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}

.without-ring {
  outline: none;
  outline:ring-offset-0;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust minmax to suitable sizes */
  grid-gap: 20px; /* Ensure sufficient gap */
  padding: 20px;
  align-items: start; /* Align items at the start of the grid cell */
}
.chart-card {
  min-height: 400px; /* Adjust based on your actual chart height requirements */
  width: 100%;
}
@media (max-width: 768px) {
  .container2 {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;